*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.loader{
	height: 300px;
	width: 300px;
	background: #000;
	position: absolute;
	border-radius: 50%;
	animation: anim 2s infinite linear;
	animation-play-state: paused;
}
@keyframes anim{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.inner-loader{
	height: 95%;
	width: 95%;
	border-radius: 50%;
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	display: flex;
	justify-content: center;
}
.center{
	width: 50px;
	height: 32px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
}
.center::before,.center::after{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: inherit;
	border-radius: inherit;
}
.center::before{
	transform: rotate(60deg);
}
.center::after{
	transform: rotate(-60deg);
}
.handle{
	width: 60px;
	height: 90px;
	background: #fff;
	transform: rotate(35deg);
	position: absolute;
	top: 10px;
	border-radius: 50% 100% 5px 90% / 20% 100% 5px 60%;
}
.handle_1{
	transform: rotate(98deg);
	top: 58px;
	left: 67%;
}

.handle_2{
	transform: rotate(158deg);
	top: 144px;
	left: 66%;
}
.handle_3{
	transform: rotate(215deg);
	top: 185px;
}
.handle_4{
	transform: rotate(278deg);
	top: 138px;
	left: 12%;
}
.handle_5{
	transform: rotate(338deg);
	top: 52px;
	left: 13%;
}
label{
	position: absolute;
	bottom: 10%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	border-radius: 50%;
}
label .btn{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	border-radius: 50%;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1),
				0 -2px 5px rgba(0,0,0,0.1),
				0 2px 2px rgba(255,255,255,0.5),
				0 0 2px #000,
				0 0 5px #0c0c0c,
				0 5px 5px #080808;
}
#check{
	appearance: none;
}
.fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 2.5em;
	color: #0c0c0c;
	border-radius:50%;
}
input[type="checkbox"]:checked ~ .fas{
	color: #10ff2e;
	box-shadow:0 0 5px #10ff2e,
				0 0 15px #10ff2e;
}
input[type="checkbox"]:checked ~ .loader{
	animation-play-state: running;
}