*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
section::before{
	content: '';
	position: absolute;
	width: 240px;
	height: 240px;
	background: linear-gradient(75deg,#ff2676,#11ffee);
	border-radius: 50%;
	transform: translate(-150px,-180px);
}
section::after{
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	background: linear-gradient(45deg,#f3f5f5,#9c27cb);
	border-radius: 50%;
	transform: translate(150px,150px);
}
.box{
	position: relative;
	width: 250px;
	height: 300px;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	box-shadow: 0 25px 45px rgba(0,0,0,0.25);
	border: 1px solid rgba(255,255,255,0.25);
	border-right: 1px solid rgba(255,255,255,0.25);
	border-bottom: 1px solid rgba(255,255,255,0.25);
	backdrop-filter:blur(25px);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.timer_text{
	font-size: 2em;
	font-weight: bold;
}